<!-- footer -->
<div class="container container-fluid container-footer overflow-hidden">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-3 my-3">
        <div class="col m-2">
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted" href="#prices">Precios</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted" href="#features">Servicio Tecnico </a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted" href="#contact">Contacto</a>
            </li>
          </ul>
        </div>
        <div class="col m-2">
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a class="text-muted" target="_blank" class="nav-link p-0 text-muted">Tecni Tienda &copy; 2023</a>
              </li>

             
            </ul>
        </div>
        <div class="col m-2">
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a class="text-muted" class="nav-link p-0 text-muted" routerLink="/shop">Productos</a>
            </li>
          </ul>
        </div>
    </footer>
</div>